/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: #242833;
  color: #fff;
  font-size: 16px;
}

a {
  color: #fff;
  transition: all 0.2s ease-in;
}

a:hover {
  color: #D4C17F;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px;
}
.container--sm {
  max-width: 824px;
}

.text-right {
  text-align: right;
}

.title-2 {
  font-size: 34px;
  font-family: "Playfair Display", serif;
  color: #D4C17F;
  font-weight: 700;
}

.header {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 74px;
  min-height: 840px;
  background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url("./../../img/bg.jpg"), lightgray 50%/cover no-repeat;
  /* background-image: url('./../../img/bg1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0 auto; */
}

.header__top {
  margin-bottom: 150px;
}

.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 999px) {
  .header__nav {
    display: none;
  }
}

.header__nav-btn {
  display: none;
}
@media screen and (max-width: 999px) {
  .header__nav-btn {
    display: block;
  }
}

.header__title {
  position: relative;
  padding-bottom: 100px;
  text-align: center;
  font-size: 48px;
  font-family: "Playfair Display", serif;
  color: #D4C17F;
  font-weight: 700;
}

.header__title-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

.header__footer {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.nav {
  font-size: 14px;
}

.nav-list {
  display: flex;
  column-gap: 40px;
}

.info {
  position: relative;
  font-size: 16px;
  padding-left: 35px;
}
.info::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 21px;
  height: 21px;
  background-image: url("./../../icons/placeholder.svg");
  background-repeat: no-repeat;
}
.info--map, .info--tel {
  padding-left: 35px;
}
.info--map::before, .info--tel::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
}
.info--map::before {
  background-image: url("./../../icons/placeholder.svg");
}
.info--tel::before {
  background-image: url("./../../icons/phone-call.svg");
}

.benefits {
  padding: 0;
  padding-bottom: 80px;
  position: relative;
}
.benefits::after {
  content: "II";
  opacity: 0.02;
  font-size: 380px;
  font-family: "Playfair Display", serif;
  line-height: 1;
  position: absolute;
  top: 0;
  left: calc(50% + 500px);
  transform: translate(-50%, 0%);
}

.benefits__row {
  display: flex;
  column-gap: 70px;
}

.benefits__item {
  text-align: center;
}

.benefits__item-img {
  margin-bottom: 40px;
}

.benefits__item-text {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.35;
}

.appartments {
  padding: 0;
  position: relative;
}
.appartments::before {
  content: "III";
  opacity: 0.02;
  font-size: 380px;
  font-family: "Playfair Display", serif;
  line-height: 1;
  position: absolute;
  top: 0;
  right: calc(50% + 555px);
  transform: translate(50%, 0%);
}

.appartments__title {
  margin-bottom: 70px;
}

.appartments__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(290px, 1fr)); */
  gap: 30px;
}

.card {
  display: inline-block;
  position: relative;
  color: #fff;
  overflow: hidden;
}
.card::after {
  opacity: 0;
  content: "";
  position: absolute;
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
  transition: opacity 0.2s ease-in;
}
.card:hover {
  color: #fff;
}
.card:hover::after {
  opacity: 1;
}

.card__img {
  transition: all 0.2s ease-in;
}

.card:hover .card__img {
  transform: scale(1.1);
  filter: contrast(110%) brightness(1.2) saturate(1.2);
}

.card__title {
  position: absolute;
  z-index: 9;
  bottom: 44px;
  left: 50px;
  right: 20px;
  font-size: 18px;
}
.card__title:hover {
  color: #fff;
}

.cta {
  padding: 180px 0;
  background-image: url("./../../img/Rectangle1.jpg");
}

.cta__title {
  margin-bottom: 15px;
}

.cta__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.cta__text {
  color: #fff;
  line-height: 1.5;
}

.cta__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px 30px;
}

.form__input {
  height: 50px;
  padding: 12px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 14px;
  transition: background-color 0.2s ease-in;
}
.form__input::placeholder {
  color: #BEBEBE;
}
.form__input:focus {
  background-color: rgba(255, 255, 255, 0.25);
}

.form__privacy {
  font-size: 12px;
  color: #e7e7e7;
  text-align: center;
  line-height: 1.23;
}

.form__btn {
  height: 50px;
  padding: 12px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  background-color: #D4C17F;
}
.form__btn:hover {
  background-color: #ddc676;
}

.video {
  text-align: center;
  position: relative;
}
.video::after {
  content: "IV";
  opacity: 0.02;
  font-size: 380px;
  font-family: "Playfair Display", serif;
  line-height: 1;
  position: absolute;
  top: 0;
  left: calc(50% + 450px);
  transform: translate(-50%, 0%);
}

.video__link {
  text-align: center;
}
.video__link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.video__link:hover {
  filter: saturate(1.9);
}

.section-map {
  padding: 110px 0;
  position: relative;
}
.section-map::before {
  content: "V";
  opacity: 0.02;
  z-index: -1;
  font-size: 380px;
  font-family: "Playfair Display", serif;
  line-height: 1;
  position: absolute;
  top: 100px;
  right: calc(50% + 555px);
  transform: translate(50%, 0%);
}

.section-map__title {
  margin-bottom: 80px;
}

.map {
  height: 358px;
  background-color: grey;
}

.feedback {
  padding-bottom: 110px;
}

.feedback__title {
  margin-bottom: 30px;
}

.feedback__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-items: center;
}

.footer {
  background-color: #2D343C;
  padding-top: 70px;
  padding-bottom: 50px;
  font-size: 13px;
  letter-spacing: 0.07rem;
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.footer__logo {
  margin-top: -12px;
}

.footer__nav-list {
  display: grid;
  gap: 15px;
}

.footer__address {
  display: grid;
  gap: 20px;
  font-size: 13px;
  letter-spacing: 0.07rem;
}

.footer__socials {
  display: flex;
  column-gap: 20px;
  align-items: center;
}/*# sourceMappingURL=main.css.map */