//fonts
$font-main: 'Noto Sans', sans-serif;
$font-accent: 'Playfair Display', serif; 
//colors
$dark: #242833;
$accent: #D4C17F;
$white: #fff;
$footer-bg: #2D343C; 
//media
$tablet: 999px;
